section.dropdown-menu
  ul.dropdown-menu__col
    li.dropdown-menu__item 
      a(href='./catalog.html') Новинки
  ul.dropdown-menu__col
    li.dropdown-menu__item
      a(href='./catalog.html') Нижнее белье
    li.dropdown-menu__item
      a(href='./catalog.html') Слипы
    li.dropdown-menu__item
      a(href='./catalog.html') Боксеры
    li.dropdown-menu__item
      a(href='./catalog.html') Наборы
  ul.dropdown-menu__col
    li.dropdown-menu__item
      a(href='./catalog.html') Новый раздел
    li.dropdown-menu__item
      a(href='./catalog.html') Подраздел 1
    li.dropdown-menu__item
      a(href='./catalog.html') Подраздел 2
  ul.dropdown-menu__col
    li.dropdown-menu__item
      a(href='./catalog.html') Новый раздел