.not-found
    .block
        h2 Страница не найдена
        p Извините. Содержимое, которое вы ищете, не существует. Либо оно было удалено, либо вы неправильно ввели ссылку.
        button.btn-fill На главную
    .not-found__image 
        span 404 
        span 404 
        span 404 
        span 404 