section.favorite
  section.catalog__list
  section.catalog__control-panel 
    button.prev-page(data-value='0' disabled)
      svg(width='24px' height='24px')
        use(href=`./img/svg/footer/top-up.svg#top-up`)
      | Назад
    ul.page-list
    button.next-page(data-value='2') Дальше
      svg(width='24px' height='24px')
        use(href=`./img/svg/footer/top-up.svg#top-up`)